.custom-button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    
}

.custom-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}