<div class="container">
    <div class="section">
        <div class="header">
            <h1>Добро пожаловать в ServiceHub</h1>
            <p>Выберите вариант, чтобы начать:</p>
        </div>
        <div class="buttons">
            <button nz-button class="login-form-button" nzType="primary" routerLink="/register_company">
                Регистрация для менеджера
            </button>
            <button nz-button class="login-form-button" nzType="primary" routerLink="/register_client">
                Регистрация для клиента
            </button>
        </div>
    </div>
</div>